.body{
    text-align: center;
    font-family: "Roboto";
}

.container{
    display: flex;
    flex-direction: column;
}

.navbar,
.hero,
.footer{
    background-color: #1f2937;
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar h1{
    flex: 50%;
}

.navbar a{
    margin: 5px;
}

.navbar h1{
    font: 24px, #f9faf8;
}

.hero{
    display:flex;
    align-items: center;
}

.hero-text{
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.hero h1{
    font: 48px, bolder, #f9faf8;
}

.hero p{
    font: 18px, #e5e7eb;
}

.hero-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero img{
    height: 300px;
    width: auto;
    border-radius: 10px;
}

.hero button,
.calltoaction{
    background-color: #3882f6;
}

.information h2{
    font: 36px, bolder, #1f2937;
}

.information-points{
    display: flex;
}

.information div{
    border: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: #3882f6;
}
.information img{
    height: 250px;
    width: 250px;
    padding: 5px;
}

.information p{
}

.quote{
    background-color: #e5e7eb;
}

.quote h1{
    font: 36px, italic, #1f2937;
}