.body{
    font-family: "Roboto", 'Times New Roman', Times, serif;
}

.container{
    padding: 40px;
}

.navbar,
.hero,
.information,
.quote,
.footer{
    padding-left: 90px;
    padding-right: 90px;
}

.navbar,
.hero,
.footer{
    background-color: #1f2937;
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar h1{
    flex: 50%;
}

.navbar a{
    margin: 5px;
}

.navbar h1{
    font-size: 24px;
    color: #f9faf8;
}

.hero{
    display:flex;
    align-items: center;
}

.hero-text{
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.hero h1{
    font: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero p{
    font-size: 18px;
    color: #e5e7eb;
}

.hero button{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.hero-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero img{
    height: 300px;
    width: auto;
    border-radius: 10px;
}

.hero button,
.calltoaction{
    background-color: #3882f6;
}

.information h2{
    font: 36px, bolder, #1f2937;
    text-align: center;
}

.information-points{
    display: flex;
    justify-content: space-evenly;
}

.info1,
.info2,
.info3,
.info4{
    display:flex;
    flex-direction: column;
}

.information img{
    flex:1, 1, auto;
    height: 250px;
    width: auto;
    padding: 5px;
    border: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: #3882f6;
}

.information p{
    flex: 1, 1, 200px;
    justify-content: center;
}

.quote{
    background-color: #e5e7eb;
}

.quote p{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    text-align: center;
}

.quote b{
    display: flex;
    justify-content: right;
}

.calltoaction{
    display:flex;
    justify-content: center;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.cta-text{
    display: flex;
    flex-direction: column;
    color: white;
}

.cta-button{
    margin: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px;
    border-style: solid;
    border-color: #e5e7eb;
    background-color: #3882f6;
    border-radius: 5px;
    color:white;
}

.footer{
    text-align: center;
    color:#f9faf8;
    padding-top: 15px;
    padding-bottom: 15px;
}